{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

  <link rel="stylesheet" type="text/css" href="{% static "css/sso-login.css" %}"/>

  <script src="//accounts.google.com/gsi/client" async></script>
  <!-- <script src="{% static "js/autoreload-dev.js" %}" async></script> -->

</head>
<body>

<div class="container">
  {% if request.user.is_authenticated %}
    <h1>Timur Backend</h1>
    <p>
        Welcome, {{ request.user.display_name }} 🙂
        <br />
        Your email is <strong>{{ request.user.email }}</strong>
    </p>

    <div class="card-container">
      <a href="{{APP_FRONTEND_HOST}}" class="card">
        Timur App
      </a>

      {% if request.user.is_staff %}
        <a href="{{APP_DOMAIN}}/admin" class="card">
          Admin Panel
        </a>
      {% endif %}

      <a href="{% url 'account_logout' %}" class="danger-card card">
          Logout
      </a>
    </div>

  {% else %}
    <h1>Welcome Back 🙂 to Timur</h1>
    <p>Click below to sign in with Google</p>
  {% endif %}

  {% if login_expire_in_days %}
    <p class="note {% if login_expire_in_days < login_expire_threshold %}warning{% endif %}">
      Login session is valid for {{ login_expire_in_days }} day{{ login_expire_in_days|pluralize }}.
    </p>
  {% endif %}

  {% if not request.user.is_authenticated or login_expire_in_days < login_expire_threshold %}

    <a href="{{APP_DOMAIN}}/admin" class="card">
      Sign in with Admin Panel
    </a>

    <!-- Reference: https://developers.google.com/identity/gsi/web/reference/html-reference --!>
    <div id="g_id_onload"
         data-client_id="{{ GOOGLE_OAUTH_CLIENT_ID }}"
         data-context="use"
         data-ux_mode="popup"
         data-login_uri="{% url 'google_login_by_token' %}"
         data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="filled_black"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>

    <p class="note">{{ APP_ENVIRONMENT }}</p>
  {% endif %}
</div>

</body>
</html>
